{% extends 'books/base.html' %}

{% block title %}
    List of books
{% endblock %}

{% block content %}
    <h2>List of books</h2>
    {% for book in  books %}
        <p>ID: {{ book.id }}</p>
        <p>Title: {{ book.title }}</p>
        <p>Content: {{ book.content }}</p>
        <p>Time created: {{ book.created_at }}</p>
        <div>
            <a href="{% url 'books:book_modifying' book.id %}">Click here to modify</a>
        </div>
        <div>
            <a href="{% url 'books:book_delete' book.id %}">Click here to delete this book</a>
        </div>
        <div>
            <a href="{% url 'books:book_modifying_api' book.id %}">API view this book</a>
        </div>
        <hr>
    {% endfor %}

    {#make a button acts like a link#}
    <input type="button"
           value="Create a new book"
           onclick="window.location.href='{% url 'books:book_input' %}'">
    <input type="button"
           value="Back to index page"
           onclick="window.location.href='{% url 'books:index' %}'">
{% endblock %}
