{% extends 'books/base.html' %}

{% block title %}
    {{ notification_title }}
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        <h2 class="text-center">
            {{ notification_content }}
        </h2>
    </div>
    <div class="text-center">
        <input type="button"
               class="btn btn-primary"
               value="List all book"
               onclick="window.location.href='{% url 'books:book_list' %}'">
        <input type="button"
               class="btn btn-primary"
               value="Index page"
               onclick="window.location.href='{% url 'books:index' %}'">

    </div>
{% endblock %}